
@{
    ViewBag.Title = "Show";
}
<style>
  h2{
        font-family:'Times New Roman';
        font-size:x-large;
        font-style:italic;
        color:darkblue;
    }
  </style>
<table>
    <tr>
        <td><div><img src="~/images (6).jpg" /></div></td>
        <td><div><img src="~/clubcard.jpg" /></div></td>
        <td><div><img src="~/images (4).jpg" /></div></td>
    </tr>
</table>
<h2><b>Congratulations, you are succesfully applied for clubcard</b></h2>
<h4><a href="~/Shipping/Create">Wants to change your shipping Address???</a></h4>


